footer{
    width: 100%;
    background-color: var(--neutral-black);
    padding-top: 40px;
    padding-bottom: 20px;

    .elementos{
        display: flex;
        width: 90%;
        margin: 0 auto;

        .leftFooter-container{
            display: flex;
            flex-direction: column;
            width: 50%;
            font-size: 16px;
            color: var(--platinum);
            padding-left: 10px;
           
            a{
                text-decoration: none;
                color: #551A8B;
            }
        }
     
        .rightFooter-container{
            width: 50%;
     
            .socialMedias{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: end;
                ul{
                    display: flex;
                    list-style: none;
                    gap: 35px;
     
                    a{
                        text-decoration: none;
                        font-size: 36px;
                        color: var(--white);
                    }
                }
            }
            .logoFooter-container{
                display: flex;
                justify-content: end;
                align-items: center;
                width: 100%;
     
                figure{
                    img{
                        width: 80%;
                    }
                }
                
            }
        }
    }
 
    
}