footer{
    width: 100%;
    background-color: var(--neutral-black);
    padding-top: 40px;
    padding-bottom: 20px;

    .elementos{
        display: flex;
        width: 90%;
        margin: 0 auto;

        .leftFooter-container{
            display: flex;
            flex-direction: column;
            min-width: 50%;
            font-size: 16px;
            color: var(--platinum);
            padding-left: 10px;
           
            a{
                text-decoration: none;
                color: #551A8B;
            }
        }
     
        .rightFooter-container{
            min-width: 50%;
     
            .socialMedias{
                display: flex;
                width: 100%;
                align-items: center;
                justify-content: end;
                ul{
                    display: flex;
                    list-style: none;
                    gap: 35px;
     
                    a{
                        text-decoration: none;
                        font-size: 36px;
                        color: var(--white);
                    }
                }
            }
            .logoFooter-container{
                display: flex;
                justify-content: end;
                align-items: center;
                width: 100%;
     
                img{
                    max-width: 290px;
                    min-width: 240px;
                }
                
                
            }
        }
    }   
}

@media (max-width: 767px){

    footer{
        .elementos{
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
    
            .leftFooter-container{
                width: 100%;
            }
            
            .rightFooter-container{
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 25px;
    
                .socialMedias{
                    display: flex;
                    justify-content: center;
                }

                .logoFooter-container{
                    display: flex;
                    justify-content: center;

                    figure{
                        img{
                            width: 60%;
                        }
                    }
                }
            }
        }
    }
    
}