footer{
    display: flex;
    width: 100%;
    height: 370px;
    padding: 30px 0;
    background-color: var(--neutral-black);

    .leftFooter-container{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        gap: 25px;
        padding: 0 30px;
        font-size: 16px;
        color: var(--platinum);

        a{
            text-decoration: none;
            color: #551A8B;
        }
    }

    .rightFooter-container{
        width: 50%;
        height: 100%;

        .socialMedias{
            display: flex;
            width: 100%;
            height: 50%;
            align-items: center;
            justify-content: center;
            ul{
                display: flex;
                list-style: none;
                gap: 35px;

                a{
                    text-decoration: none;
                    font-size: 36px;
                    color: var(--white);
                }
            }
        }
        .logoFooter-container{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 50%;

            figure{
                width: 300px;
                height: 100%;
            }
            img{
                width: 100%;
            }
        }
    }
}