<body>
    <header>
        <figure class="cosmoLogo-container">
            <img class="cosmoLogo" src="./../../../assets/img/cosmoLogo.png" alt="Cosmo logo">
        </figure>
    </header>
    <main>
        <figure class="astronauta-container">
            <img class="astronauta" src="./../../../assets/img/astronauta.png" alt="astronauta">
        </figure>
        <a routerLink="/cursos">
            <button class="empiezaAhora-button">EMPIEZA AHORA</button>
        </a>
    </main>
    <footer></footer>
</body>