<app-nav></app-nav>

<main>
    <section class="pregunta-container">
        <h3>{{arrayFiltrado[0].enunciado}}</h3>
        <div class="preguntaImg-container">
            <img *ngIf="arrayFiltrado[0].imgEnunciado" [src]="arrayFiltrado[0].imgEnunciado" alt="Imagen sexto">
        </div>

        <h3>{{arrayFiltrado[0].pregunta}}</h3>

        <div class="respuestas-container">
            <button type="button" (click)="cambiarColor('a')" [ngClass]="{'boton-pregunta': isClickedButton !== 'a', 'boton-preguntaSeleccion': isClickedButton === 'a'}">
                A.
                <img class="imgRespuesta" *ngIf="arrayFiltrado[0].imgA" [src]="arrayFiltrado[0].imgA" alt="Imagen sexto">
                <ng-container *ngIf="!arrayFiltrado[0].imgA">{{arrayFiltrado[0].a}}</ng-container>
            </button>
            <button type="button" (click)="cambiarColor('b')" [ngClass]="{'boton-pregunta': isClickedButton !== 'b', 'boton-preguntaSeleccion': isClickedButton === 'b'}">
                B.
                <img class="imgRespuesta" *ngIf="arrayFiltrado[0].imgB" [src]="arrayFiltrado[0].imgB" alt="Imagen sexto">
                <ng-container *ngIf="!arrayFiltrado[0].imgB">{{arrayFiltrado[0].b}}</ng-container>
            </button>
            <button type="button" (click)="cambiarColor('c')" [ngClass]="{'boton-pregunta': isClickedButton !== 'c', 'boton-preguntaSeleccion': isClickedButton === 'c'}">
                C.
                <img class="imgRespuesta" *ngIf="arrayFiltrado[0].imgC" [src]="arrayFiltrado[0].imgC" alt="Imagen sexto">
                <ng-container *ngIf="!arrayFiltrado[0].imgC">{{arrayFiltrado[0].c}}</ng-container>
            </button>
            <button type="button" (click)="cambiarColor('d')" [ngClass]="{'boton-pregunta': isClickedButton !== 'd', 'boton-preguntaSeleccion': isClickedButton === 'd'}">
                D.
                <img class="imgRespuesta" *ngIf="arrayFiltrado[0].imgD" [src]="arrayFiltrado[0].imgD" alt="Imagen sexto">
                <ng-container *ngIf="!arrayFiltrado[0].imgD">{{arrayFiltrado[0].d}}</ng-container>
            </button>
        </div>
           
        

        <div class="verificarBoton-container">
            <div class="botones-container">
                <button class="ayudaBoton">Solicitar ayuda</button>
                <button class="verificarBoton" (click)="cambiarEstado(true)"  [ngClass]="{'submit-boton': confirmacionEnvioRespuesta === true}">Verificar respuesta</button>
            </div>
            
            
            <div *ngIf="isClickedButton == arrayFiltrado[0].respuesta_correcta && (confirmacionEnvioRespuesta)" class="alert alert-success" [ngClass]="{'cambioContadorXP':agregarValor()}">
                &nbsp;La respuesta es correcta!, +100XP
            </div>

            <div *ngIf="isClickedButton && isClickedButton !== arrayFiltrado[0].respuesta_correcta && (confirmacionEnvioRespuesta)" class="alert alert-danger" [ngClass]="{'cambioContadorXP':restarValor()}">
                &nbsp;La respuesta es incorrecta, vuelve a intentar, -50 XP
            </div>
            
            <div *ngIf="!isClickedButton && isClickedButton !== arrayFiltrado[0].respuesta_correcta && confirmacionEnvioRespuesta" class="alert alert-warning">
                &nbsp;Debes seleccionar una opción antes de verificar la respuesta. Inténtalo de nuevo!
            </div>

        </div>

    </section>
</main>
<app-footer />

<!--
CON RADIO EN VEZ DE BUTTON 

 <form class="pregunta-container">
        <h3>{{arrayFiltrado[0].enunciado}}</h3>
        <div class="preguntaImg-container">
            <img *ngIf="arrayFiltrado[0].imgEnunciado" [src]="arrayFiltrado[0].imgEnunciado" alt="Imagen sexto">
        </div>

        <h3>{{arrayFiltrado[0].pregunta}}</h3>

        <div class="respuestas-container">

            <input type="radio" id="A" name="opciones_respuesta" value="a" (click)="cambiarColor('a')"
                [ngClass]="{'boton-pregunta': isClickedButton !== 'a', 'boton-preguntaSeleccion': isClickedButton === 'a'} ">
            <label for="A">
                <img class="imgRespuesta" *ngIf="arrayFiltrado[0].imgA" [src]="arrayFiltrado[0].imgA"
                    alt="Imagen sexto">
                <ng-container *ngIf="!arrayFiltrado[0].imgA">{{arrayFiltrado[0].a}}</ng-container>
            </label><br>

            <input type="radio" id="B" name="opciones_respuesta" value="b" (click)="cambiarColor('b')"
                [ngClass]="{'boton-pregunta': isClickedButton !== 'b', 'boton-preguntaSeleccion': isClickedButton === 'b'} ">
            <label for="B">
                <img class="imgRespuesta" *ngIf="arrayFiltrado[0].imgB" [src]="arrayFiltrado[0].imgB"
                    alt="Imagen sexto">
                <ng-container *ngIf="!arrayFiltrado[0].imgB">{{arrayFiltrado[0].b}}</ng-container>
            </label><br>

            <input type="radio" id="C" name="opciones_respuesta" value="c" (click)="cambiarColor('c')"
                [ngClass]="{'boton-pregunta': isClickedButton !== 'c', 'boton-preguntaSeleccion': isClickedButton === 'c'} ">
            <label for="C">
                <img class="imgRespuesta" *ngIf="arrayFiltrado[0].imgC" [src]="arrayFiltrado[0].imgC"
                    alt="Imagen sexto">
                <ng-container *ngIf="!arrayFiltrado[0].imgC">{{arrayFiltrado[0].c}}</ng-container>
            </label><br>

            <input type="radio" id="D" name="opciones_respuesta" value="d" (click)="cambiarColor('d')"
                [ngClass]="{'boton-pregunta': isClickedButton !== 'd', 'boton-preguntaSeleccion': isClickedButton === 'd'} ">
            <label for="D">
                <img class="imgRespuesta" *ngIf="arrayFiltrado[0].imgD" [src]="arrayFiltrado[0].imgD"
                    alt="Imagen sexto">
                <ng-container *ngIf="!arrayFiltrado[0].imgD">{{arrayFiltrado[0].d}}</ng-container>
            </label><br>
        </div>

        <div class="verificarBoton-container">
            <input class="verificarBoton" type="submit" value="Verificar respuesta" (click)="cambiarEstado(true)"
            [ngClass]="{'submit-boton': confirmacionEnvioRespuesta === true}">

            <div *ngIf="isClickedButton == arrayFiltrado[0].respuesta_correcta && (confirmacionEnvioRespuesta)" class="text-danger">
                La respuesta es correcta!
            </div>


        </div>


    </form>



-->