nav {
    background-color:var( --white);
    height: 75px;
    font-family: "Roboto", sans-serif;

    .elementos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        width:80%;
        
        
    }

    .leftNav{
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;

        .cosmoLogo-container{
            width: 120px;
        }
        .cosmoLogo{
            width: 100%;
        }
    }
    
    .contadores {
        display: flex;
        gap: 24px;
        flex-direction: row;
        margin: -16px;
        padding: 16px;
        width:285.075px;
        height: 56px;
        align-content: center;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .contadorEstrellas{
            display: flex;
            flex-direction: column;
        }

        .contadorXp {
            display: flex;
            flex-direction: column;
        }


        .agrupadorTitulosContador{
            -webkit-box-align: center;
            align-items: center;
            color: rgb(101, 112, 124);
            display: flex;
            gap: 8px;
            font-weight: 400;
            line-height: 1.5;
            font-size:100%;
            color:var(--neutral-gray);
           
        }
         .numeros{
            font-family: inherit;
            color: var(--black);
            font-size: 184%;
            font-weight: 800;
            line-height: 1.5;
         }

    }


    .rightNav{
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        flex-direction: row;
        gap:10px;

        
      
        button.navbar-toggler {
            &:focus,
            &:active,
            &:focus-within,
            &:target,
            &:focus-visible,
            &:visited,
            &:hover,
            &::before,
            &::after,
            &-icon:focus {
                outline: none;
                box-shadow: none;
                border: none;
                border-width: 0;
                border-color: var(--white);
            } 
        }
        


                .bigOne{
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    
                    .saludo{
                        font-family: inherit;
                        color: var(--black);
                        font-size: 184%;
                        font-weight: 800;
                        line-height: 1.5;
                    }
                    
                    .littleOne{
                        display:flex ;
                        flex-direction: row;
                        gap:4px;
                        .progreso{
                            font-size:100%;
                            color:var(--neutral-gray);
                            font-weight: 400;
                            line-height: 1;
                        }

                        .barraProgreso{
                            background: linear-gradient(to right, rgb(3, 239, 98) 30%, rgb(217, 217, 226) 10%);
                            border-radius: 4px;
                            height: 4px;
                            margin-top: 4px;
                            width: 50px;
                        }
                    }
                       
                }
            
                .profileImg{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                        
            }
    }


}

    /*
    position: fixed;
    top: 75px;
    left: 0;
    right: 0;
    background: red;


            button.navbar-toggler:active,
            button.navbar-toggler:focus,
            button.navbar-toggler:focus-within,
            button.navbar-toggler:target,
            button.navbar-toggler:focus-visible,
            button.navbar-toggler:visited,
            button.navbar-toggler:hover,
            button.navbar-toggler::before,
            button.navbar-toggler::after,
            button.navbar-toggler-icon:focus {
                outline: none;
                box-shadow: none ;
                border: none;
                
            }





    */