<app-nav></app-nav>
<main>
    <section>
        <h1>Ejercicios</h1>
        <div class="ejercicios-contenedor">
            <ul class="listaEjercicios">
                <li *ngFor="let pregunta of preguntas" >
                    <a [routerLink]="['/ejercicios',pregunta.codigo]">
                        <button [disabled]=pregunta.completed [ngStyle]="{'background-color':getColor(pregunta.completed)}" class="butonEjercicios"> 
                            Ejercicio #{{pregunta.id}} 
                        </button>
                    </a>
                    <div class="stars">
                        <star-rating [stars]="pregunta.stars" />
                    </div>
                </li>
            </ul>
        </div>
    </section>
</main>
<app-footer/>
