main{
    display: flex;
    padding: 20px 0 30px 0;
    width: 100%;
    min-height: calc(100vh - 75px);
    margin-top: 75px;

    section{
        width:75%;
        min-width: 200px;
        height: auto;
        padding: 20px 15px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        border-radius: 12px;
        margin: 0 auto;
        border: 1px solid #ccc;

        h1{
            margin-bottom: 20px;
        }

        .ejercicios-contenedor{
            width: 100%;
            height: auto;
            
            .listaEjercicios{
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 15px;
                list-style: none;
                align-items: center;

                li{
                    width: 70%;
                    a{
                        text-decoration: none;

                        .butonEjercicios{
                            max-width: 600px;
                            width: 100%;
                            min-width: 160px;
                            height: 40px;
                            font-size: 16px;
                            border: none;
                            background-color: var(--azure-blue);
                            color: var(--white);
                            border-radius: 12px;
                        }
                    }
                }
                
        
                
            }
        }
    }
    aside{
        width: 20%;
        height: 400px;
        padding: 20px 10px;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
        border-radius: 12px;
    }

    
}

@media (max-width: 767px){
    main{
        section{
            width: 90%;
            margin: 0 auto;
        }
    }
}