<app-header/>

<main>
    <section>
        <a href="">
            <article class="course-container">
                <figure class="courseFigure">
                    <img src="./../../../assets/img/grado6.jpeg" width="200" alt="Grado 6">
                </figure>
                <h2>Grado 6</h2>
            </article>
        </a>

        <a href="">
            <article class="course-container">
                <figure class="courseFigure">
                    <img src="./../../../assets/img/grado7.jpeg" width="200" alt="Grado 6">
                </figure>
                <h2>Grado 7</h2>
            </article>
        </a>
        
        <a href="">
            <article class="course-container">
                <figure class="courseFigure">
                    <img src="./../../../assets/img/grado8.jpeg" width="200" alt="Grado 6">
                </figure>
                <h2>Grado 8</h2>
            </article>
        </a>
        
    </section>
</main>