<app-header/>
<main>
    <section>
        <a href="">
            <article class="course-container">
                <figure class="courseFigure">
                    <img src="./../../../assets/img/grado6.jpeg" width="200" alt="Grado 6">
                </figure>
                <h2>Grado 6</h2>
            </article>
        </a>

        <a href="">
            <article class="course-container">
                <figure class="courseFigure">
                    <img src="./../../../assets/img/grado7.jpeg" width="200" alt="Grado 6">
                </figure>
                <h2>Grado 7</h2>
            </article>
        </a>
        
        <a href="">
            <article class="course-container">
                <figure class="courseFigure">
                    <img src="./../../../assets/img/grado8.jpeg" width="200" alt="Grado 6">
                </figure>
                <h2>Grado 8</h2>
            </article>
        </a>
    </section>
</main>
<footer>
    <section class="leftFooter-container">
        <p>Cosmo Schools es un sitio seguro</p>
        <p>Este sitio funciona mejor con las últimas versiones de Microsoft Edge, Google Chrome y Firefox.</p>
        <p>Copyright © 2022 Cosmo Schools Todos los derechos reservados COSMO EDUCATION S.A.S NIT 9016554098.</p>
        <p>Medellín - Colombia.</p>
        <a href="https://www.ssf.gov.co/">Vigilado SuperSubsidio</a>
    </section>
    <section class="rightFooter-container">
        <div>
            <ul>
                <li><a href="https://www.facebook.com/profile.php?id=100070398397421">
                    
                </a></li>
            </ul>
        </div>
        <div>
            <figure>
                <img src="" alt="">
            </figure>
        </div>
    </section>
</footer>