main{
    padding: 50px 0;
    width: 100%;
    height: calc(100vh - 75px);
    margin-top: 75px;
    display: flex;
    align-items: center;

    section{
        display: flex;
        width: 90%;
        height: auto;
        margin: 0 auto;
        gap: 30px;
        justify-content: center;
    
        a{
            text-decoration: none;
            color: var(--black);
        }
    
        .course-container{
            min-width: 250px;
            max-width: 350px;
            max-height: 390px;
            padding: 15px;
            border-radius: 12px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            cursor: pointer;
            transition: 1.5s;
        }

        .course-container:hover{
            transform: scale(1.1);
            transition: 1.5s;
        }

        .courseFigure{
            width: 100%;
            height: auto;
            margin-bottom: 10px;
        }
        .courseFigure img{
            width: 100%;
            border-radius: 12px;
        }
        h2{
            font-size: 20px;
            text-align: center;
        }
    }
}


@media (max-width: 890px){
    main{
        section{
            display: flex;
            scroll-snap-type: x proximity;
            overflow-x: auto;
            overscroll-behavior-x: contain;
            padding: 20px 60px;
            justify-content: start;
            width: 100%;
    
            .course-container{
                scroll-snap-align: center;
            }

            .course-container{
                min-width: 280px;
                max-width: 350px;
            }
        }
    }
    
}
